.App{

}

.App-logo{
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  pointer-events: none;
}

.App-header{
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
}

.App-link{
  color:#61dafb;
}

@keyframes App-logo-spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360def);
  }
}

h2{
  border-bottom: 1px solid #ccc;
}
.new-post{
  textarea{
    display: block;
    width:100%;
    font-size: 1rem;
    padding: .2rem;
    margin-bottom: 10px;
  }
  button{
    font-size: 1rem;
  }
}
.tweet{
  white-space: pre-wrap;
  border: 1px solid #999;
  padding:15px;
  display: flex;
  font-size: 15px;
  .tweet-avatar{
    font-size: 50px;
    margin-right: 10px;
  }
  h5{
    display: flex;
    margin-bottom: 6px;
    font-size: 15px;
    time{
      font-weight: normal;
    }
  }
  p{
    margin-bottom: 6px;
  }
}